<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Cadastre-se</h1>
      <p>Preencha para cadastrar seu usuario</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">EMAIL</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">SENHA</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">CONFIRME SUA SENHA</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-button ion-padding">
      <ion-button size="large" routerLink="/home" class="signup-button" fill="outline">Login</ion-button>
      <p>Esqueceu a senha?</p>
    </div>
  </div>
  </ion-content>
  