.header{
    --background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.1)),
    url("/assets/img/green-solid.jpg") no-repeat center center / cover;
}

.title{
    color: white;
}

.cardHome{
    box-shadow: none;
}