<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button>
      Home
    </ion-button>
    <ion-button>
      Meus Eventos
    </ion-button>
    <ion-button routerLink="/cadastro">
      Cadastrar Evento
    </ion-button>
    <ion-button>
      Sair
    </ion-button>
  </ion-content>

</ion-menu>

<ion-content>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button>


          </ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
    
    <div>
      <ion-button>Faculdade</ion-button> <ion-button>Eventos</ion-button>
    </div>


    <ion-card style="display: inline-block; margin-top: 50px;">
      <img style="justify-content: center;align-items: center;display: flex;margin: auto;max-height: 200px;"
      src="../../assets/img/Primo-Pobre_Brasilia_Pagode_e_Feijoada-5 (1).webp" >
      <ion-card-header>
        <ion-card-title>Ultimo Samba do Ano</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Belo Horizonte - BH.
      </ion-card-content>
      <ion-footer>
        <ion-row>
          <ion-col center text-center>
            <ion-button>Saiba Mais</ion-button>
          </ion-col>
          <ion-col center text-center>
            <button>
              <ion-button>Contrate</ion-button>
            </button>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ion-card>

    </ion-content>
  </div>


</ion-content>